<a href="https://colab.research.google.com/github/vArshini1055/Genai-apex-image/blob/main/Copy_of_transformer_genai_apex_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from transformers import pipeline

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_html("https://en.wikipedia.org/wiki/National_Institutes_of_Technology_(India)",header=0)[2]

In [ ]:
data=data.astype(str)

In [ ]:
from transformers import AutoTokenizer,AutoModelForTableQuestionAnswering

In [ ]:
model=("google/tapas-large-finetuned-wtq")

In [ ]:
tokenizer=AutoTokenizer.from_pretrained("google/tapas-large-finetuned-wtq")

In [ ]:
tokenizer

TapasTokenizer(name_or_path='google/tapas-large-finetuned-wtq', vocab_size=30522, model_max_length=512, is_fast=False, padding_side='right', truncation_side='right', special_tokens={'unk_token': '[UNK]', 'sep_token': '[SEP]', 'pad_token': '[PAD]', 'cls_token': '[CLS]', 'mask_token': '[MASK]', 'additional_special_tokens': ['[EMPTY]']}, clean_up_tokenization_spaces=True, added_tokens_decoder={
	0: AddedToken("[PAD]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	1: AddedToken("[EMPTY]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	100: AddedToken("[UNK]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	101: AddedToken("[CLS]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	102: AddedToken("[SEP]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	103: AddedToken("[MASK]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
}
)

In [ ]:
model=AutoModelForTableQuestionAnswering.from_pretrained(model)

In [ ]:
tqpipe=pipeline(task="table-question-answering",model=model,tokenizer=tokenizer)

Device set to use cpu

In [ ]:
data

,No.,Name,Abbreviation,Founded,Established as NIT,City/Town,State/UT,NIRF Rank,NIRF Rank.1,Website,Unnamed: 10
0,No.,Name,Abbreviation,Founded,Established as NIT,City/Town,State/UT,Engineering[13],Overall[14],Website,nan
1,1,NIT Warangal,NITW,1959,2002,Warangal,Telangana,21,53,[1],nan
2,2,NIT Bhopal,MANIT,1960,2002,Bhopal,Madhya Pradesh,80,-,[2],nan
3,3,NIT Nagpur,VNIT,1960,2002,Nagpur,Maharashtra,41,82,[3],nan
4,4,NIT Durgapur,NITDGP,1960,2002,Durgapur,West Bengal,43,90,[4],nan
5,5,NIT Jamshedpur,NITJSR,1960,2002,Jamshedpur,Jharkhand,-,-,[5],nan
6,6,NIT Karnataka,NITK,1960,2002,Surathkal,Karnataka,12,38,[6],nan
7,7,NIT Srinagar,NITSRI,1960,2002,Srinagar,Jammu and Kashmir,82,-,[7],nan
8,8,NIT Allahabad,MNNIT,1961,2002,Prayagraj,Uttar Pradesh,49,-,[8],nan
9,9,NIT Surat,SVNIT,1961,2002,Surat,Gujarat,65,-,[9],nan
10,10,NIT Calicut,NITC,1961,2002,Kozhikode,Kerala,23,54,[10],nan
11,11,NIT Rourkela,NITR,1961,2002,Rourkela,Odisha,16,37,[11],nan
12,12,NIT Jaipur,MNIT,1963,2002,Jaipur,Rajasthan,37,62,[12],nan
13,13,NIT Kurukshetra,NITKKR,1963,2002,Kurukshetra,Haryana,58,-,[13],nan
14,14,NIT Tiruchirappalli,NITT,1964,2002,Tiruchirappalli,Tamil Nadu,9,21,[14],nan
15,15,NIT Silchar,NITS,1967,2002,Silchar,Assam,40,83,[15],nan
16,16,NIT Hamirpur,NITH,1986,2002,Hamirpur,Himachal Pradesh,128,-,[16],nan
17,17,NIT Jalandhar,NITJ,1987,2002,Jalandhar,Punjab,46,72,[17],nan
18,18,NIT Patna,NITP,1886,2004,Patna,Bihar,56,-,[18],nan
19,19,NIT Raipur,NITRR,1956,2004,Raipur,Chhattisgarh,70,-,[19],nan
20,20,NIT Agartala,NITA,1965,2004,Agartala,Tripura,91,-,[20],nan
21,21,NIT Arunachal Pradesh,NITAP,2014,2014,Yupia,Arunachal Pradesh,171,-,[21],nan
22,22,NIT Delhi,NITD,2014,2014,New Delhi,Delhi,51,-,[22],nan
23,23,NIT Goa,NITG,2014,2014,Farmagudi,Goa,90,-,[23],nan
24,24,NIT Manipur,NITMN,2015,2015,Imphal,Manipur,95,-,[24],nan
25,25,NIT Meghalaya,NITM,2015,2015,Shillong,Meghalaya,72,-,[25],nan
26,26,NIT Mizoram,NITMZ,2015,2015,Aizawl,Mizoram,-,-,[26],nan
27,27,NIT Nagaland,NITN,2015,2015,Chümoukedima,Nagaland,-,-,[27],nan
28,28,NIT Puducherry,NITPY,2015,2015,Karaikal,Puducherry,136,-,[28],nan
29,29,NIT Sikkim,NITSKM,2015,2015,Ravangla,Sikkim,173,-,[29],nan
30,30,NIT Uttarakhand,NITUK,2015,2015,"Srinagar, Uttarakhand",Uttarakhand,131,-,[30],nan
31,31,NIT Andhra Pradesh,NITANP,2015,2015,Tadepalligudem,Andhra Pradesh,-,-,[31],nan
32,32,IIEST Shibpur,IIESTS,1856,2014,Shibpur,West Bengal,49,-,[32],nan

In [ ]:
tqpipe(table=data,query="Name the NIT founded prior to 1965")

/usr/local/lib/python3.10/dist-packages/transformers/models/tapas/tokenization_tapas.py:2699: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  text = normalize_for_match(row[col_index].text)
/usr/local/lib/python3.10/dist-packages/transformers/models/tapas/tokenization_tapas.py:1493: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cell = row[col_index]

{'answer': 'MNIT',
 'coordinates': [(12, 2)],
 'cells': ['MNIT'],
 'aggregator': 'NONE'}